@model IEnumerable<ContactVM>

@{
    ViewData["Title"] = "Index";
}
<div class="page-header d-print-none mb-5">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <h2 class="page-title">
                    Contacts
                </h2>
            </div>
        </div>
    </div>
</div>
<section id="contact-area">
    <div class="card">
        <div class="card-body">
            <div id="table-default" class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th><button class="table-sort" data-sort="sort-name">Full name</button></th>
                            <th><button class="table-sort" data-sort="sort-name">Email</button></th>
                            <th><button class="table-sort" data-sort="sort-name">Subject</button></th>
                            <th><button class="table-sort" data-sort="sort-name">Message</button></th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody class="table-tbody">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="sort-name">@item.FullName</td>
                                <td class="sort-name">@item.Email</td>
                                <td class="sort-name">@item.Subject</td>
                                <td class="sort-name">@item.Message</td>
                                <td>
                                    <a class="btn btn-danger btn-icon delete-btn" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#modal-small">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal modal-blur fade" id="modal-small" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-title">Are you sure?</div>
                    <div>If you proceed, you will delete data permanently.</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link link-secondary me-auto" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger yes-btn" data-id="0" data-bs-dismiss="modal">Yes, delete this contact</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section js {
    <script src="~/admin/dist/js/delete.js"></script>
}


